<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <link rel="shortcut icon" href="favicon.ico" />

    <title>Language Management</title>

    <!-- Bootstrap core CSS -->
    <link href="Content/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="Content/style.css" rel="stylesheet">
    <link href="Content/xeditable.css" rel="stylesheet" />
    <link href="Content/angular-ui-notification.min.css" rel="stylesheet" />
</head>

<body ng-app="app" ng-controller="MainController as vm">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#translations">Language Management</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#translations">Translations</a></li>
                <li><a href="#logs">Logs</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container main-content">
        <!-- Login -->
    <div class="row ng-cloak" ng-if="!vm.hasToken">
        <div class="col-md-4 col-md-offset-4">
            <form class="form-signin" novalidate>
                <h2>Token</h2>
                <input type="password" class="form-control login-form" placeholder="Token" ng-model="vm.accessToken" required="" autofocus=""/>
                <button class="btn btn-lg btn-primary btn-block" ng-click="vm.setToken()" type="submit">Log in</button>
            </form>
        </div>
    </div>
        <!-- Language table -->
    <!--<div ng-include="'app/language/languages.html'" ng-hide="!vm.hasToken"></div>-->
    <div ng-view ng-if="vm.hasToken"></div>
    </div>

    <script src="deploy/js/main.min.js"></script>
</body>
</html>